.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  /*background-color: #e8e0e3;*/
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: #8d1b3d;
}

@viewport {
  width: device-width;
  zoom:0.7%;
}

.App-link {
  color: #61dafb;
}

.Titulo {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.Subtitulo{
  font-family:Georgia, 'Times New Roman', Times, serif
}

@keyframes App-logo-spin {
  from {
        transform: rotatey(0deg)
  }
  to {
        transform: rotatey(360deg);
  }
}

.font-face-qt {
  font-family: "Qatar2022Arabic";
 }